meta(charset="utf-8")
meta("viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet", href="bootstrap/bootstrap.min.css")
link(rel="stylesheet", href="bootstrap/animate.min.css")
script(src="bootstrap/bootstrap.bundle.min.js") 
script(src="bootstrap/jquery.js") 