doctype html
html(lang="en")
    head
        include bootstrap
        title Homepage
    body 
        div.container
            nav.navbar.navbar-expand-sm
                img(src="images/front.png", width="120" alt="")
                ul.navbar-nav.w-100.d-flex.justify-content-end
                    li.nav-item
                        a.nav-link(href="#") Login
                    li.nav-item
                        a.nav-link(href="#").btn.btn-outline-primary.mx-3 Signup
        
            div.py-3
                h1.display-1 Just for code 
                p An app to handle students 
            img.float-end(src="images/man.webp", width="50%" alt="")